.navbar {
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.3rem 0;
  /* Increase padding for more height */
  height: auto;
  /* Ensure it adapts to the content */
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-links li {
  margin: 0 9rem;
}

.navbar-links li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
}

.navbar-links li a:hover {
  background-color: #575757;
}

/* Container or Page Background */
.page-background {
  background-image: url('./assets/background-image.png'); /* Path to your image */
  background-size: cover; /* Ensures the background covers the entire area */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Text color over the background */
  text-align: center;
}

/* Styling for large text */
.hero-text {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Subtext */
.sub-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Button styles */
.hero-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1rem;
}

.hero-button:hover {
  background-color: #8b00ff;
}

.hero-button.secondary {
  background-color: transparent;
  border: 1px solid white;
}

.hero-button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
